

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow: auto;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

 .card-photo {
    width: 100%;
    border-radius: 9px;
 }

.card-stats {
    display: flex;
    align-items: center;
}

.card-star {
    height: 12px; 
}

.gray {
    color: #918E9B;
}

.card-title {
    display: flex;
    align-items: center;
}

.card-price {
    margin-top: auto;
}

.card-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
}

